<!DOCTYPE html>
<html>
<head>
  <title>要货时间确定</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="../css/ued.css"/>
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/goodsTime.css">
  <link rel="stylesheet" type="text/css" href="../plugin/jquery-ui.min.css">
</head>
<body>
<div class="bar">
  要货时间确定
</div>
<p class="mt-30">操作人：<span id="operator"></span><span id="address"></span></p>
<p class="select-box mt-30">
  <select id="xiangMu"></select>
  <select id="louDong"></select>
  <select id="louCeng"></select>
</p>
<div class="table-box mt-30">
  <table border="1" cellspacing="0" cellpadding="0" width="100%">
    <thead>
    <tr>
      <td></td>
      <td>序号</td>
      <td>构件类型</td>
      <td>要货时间</td>
      <td>PMC确认</td>
    </tr>
    </thead>
    <tbody id="tableList"></tbody>
  </table>
</div>
<div id="pagination"></div>
<div class="btn-box mt-30">
    <button id="sure">确定</button>
</div>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../js/index.js"></script>

<script type="text/javascript">
  !(function () {
    $('#operator').html($.cookie('truename'));
    getXiangMu();

    function getXiangMu () {
      myPost({
        data: {
          action: 'searchTradeById',
          objectid: $.cookie('objectid')
        },
        successFn: function (data) {
          if (status == 0) {
            var str = '';
            for (var i = 0, l = data.result.length; i < l; i++) {
              str += "<option data-id='" + data.result[i].Id + "'>" + data.result[i].Forshort + "</option>"
            }
            $('#xiangMu').html(str);
            getLouDong();
          }
        }
      });
    }
    function getLouDong () {
      myPost({
        data: {
          action: 'buildings',
          tradeid: $('#xiangMu').find("option:selected").attr("data-id")
        },
        successFn: function (data) {
          if (status == 0) {
            var str = '';
            for (var i = 0, l = data.result.length; i < l; i++) {
              str += "<option data-id='" + data.result[i].BuildingNo + "'>" + data.result[i].BuildingNo + "</option>"
            }
            $('#louDong').html(str);
            getLouCeng();
          }
        }
      });
    }
    function getLouCeng () {
      myPost({
        data: {
          action: 'floor',
          tradeid: $('#xiangMu').find("option:selected").attr("data-id"),
          buildid: $('#louDong').find("option:selected").attr("data-id")
        },
        successFn: function (data) {
          if (status == 0) {
            var str = '';
            for (var i = 0, l = data.result.length; i < l; i++) {
              str += "<option data-id='" + data.result[i].FloorNo + "'>" + data.result[i].FloorNo + "</option>"
            }
            $('#louCeng').html(str);
          }
          getTable();
        }
      });
    }
    function getTable(curPage){
      $('#address').html($('#xiangMu').val()+$('#louDong').val()+'栋'+$('#louCeng').val()+'层')
      myPost({
        data: {
          action: 'getPMCTradeRequestInfoPageExt',
          tradeid: $('#xiangMu').find("option:selected").attr("data-id"),
          buildingno: $('#louDong').find("option:selected").attr("data-id"),
          floorno: $('#louCeng').find("option:selected").attr("data-id"),
          requestdatetime: '',
          current: curPage||1,
          pagenum: 15,
        },
        successFn: function (data) {
          if (data.status == 0) {
            var str = '';
            for (var i = 0, l = data.result.data.length; i < l; i++) {
              str += "<tr data-id='"+data.result.data[i].CmptTypeId+"' data-state='"+(data.result.data[i].Status||"")+"'><td><input type='radio' class='checkbox'></td><td>"+(i-(-1))+"</td><td>"+data.result.data[i].CmptType+"</td><td>"+(data.result.data[i].RequestDateTime||"")+"</td><td>"+(data.result.data[i].Status==1?"未确定":data.result.data[i].Status==2?"已确定":"")+"</td></tr>";
            }
            $('#tableList').html(str);
            $('.checkbox').change(function(){
              if($(this)[0].checked) $(this).parent().parent().addClass('active');
              else $(this).parent().parent().removeClass('active');
            });
            $('.checkbox').on('click',function(){
              if($(this).parent().parent().hasClass('active')){
                $(this).prop('checked', false);
                $(this).parent().parent().removeClass('active');
              } 
            });
            Pagination({
              activeIndex: data.result.current, // 当前活动页
              totalPage: data.result.pagesize, // 分页总页数
              showNumberOfPage: false, // 是否可切换每页数量，boolen类型
              father: '#pagination', // 插槽id
              goToPage: function (index) {
                // 切换分页回调函数，index为要去第几页
                getTable(index);
              },
            })
          }
        }
      });
    }
    $('#sure').on('click',function(){
      changStatus();
    });
    function changStatus(){
          if($('tr.active').length==0) {
            window.alert('请选择一条数据！');
            return false;
          }
          if(Number($('tr.active').attr('data-state'))!=1) {
            window.alert('请选择一条未确定的数据！');
            return false;
          }
          myPost({
            data: {
              action: 'setTradeStateExt',
              tradeid: $('#xiangMu').find("option:selected").attr("data-id"),
              buildingno: $('#louDong').find("option:selected").attr("data-id"),
              floorno: $('#louCeng').find("option:selected").attr("data-id"),
              cmpttypeid: $('tr.active').attr('data-id'),
              state: 2,
            },
            successFn: function (data) {
              alert(data.msg);
              if(data.status == 0){
                getTable();
              }
            }
          });
        }
    $('#xiangMu').on('change',function(){
      getLouDong();
    })
    $('#louDong').on('change',function(){
      getLouCeng();
    })
    $('#louCeng').on('change',function(){
      getTable();
    })
  })();
</script>
</body>
</html>