@charset "utf-8";
/* CSS Document */
#divKeyboard{
	position:absolute;
	width:220px;
	height:300px;
/*	border: 3px solid #72AABB;
	background:#62A0B7;*/
	 background:url(Images/key_bg.gif) no-repeat  bottom;
	visibility:hidden;
	z-index:9999;
}
#divKeyboard ul{
   position:relative;
   float:left;
   margin:0 0 0 12px;
   padding: 0;
   list-style: none;
}
#divKeyboard li {
	float:left;
	margin: 8px 10px;
	width: 40px;
	height: 40px;
	font-family:"Arial Black","Arial";
	font-size:20px;
	font-weight:bold;
	line-height: 40px;
	text-align: center;
	background: #fff;
	border: 2px solid #B4B7B8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}

#divKeyboard .inputstyle{
	position:relative;
	float:left;
	height:25px;
	width:90px;
	margin:12px 10px 5px 20px;
	font-family:"Arial Black","Arial";
	background:#FFF;
	font-size:20px;
	line-height:25px;
	text-align:right;
}

#divKeyboard .btn{
	font-size:12px;
}
#divKeyboard .delbtn{
   position:relative;
   float:left;
   margin:14px 0px 0px 10px;
   height:30px;
   line-height:30px; 
   font-family:"Arial Black","Arial";
   font-size:16px;
   font-weight:bold;
   border: 2px solid #B4B7B8;
   width:45px;
   background: #D0E9F0;
   text-align: center;
}