@charset "utf-8";

.bodyDiv{margin:0 auto 0 auto;width: 640px;height: 100%;}
td{font-family: "思源黑体";font-size: 8px;border: none #339900;}

#leftDiv {position: relative;width: 220px;height: 295px;float: left;margin-bottom: 6px;}

#leftDiv .pngDiv {position: relative;width: 108px;height: 108px;float: left;margin-top: 0px;}
#leftDiv .pngDiv img {width: 105px; height:108px;border: 0px;}

#leftDiv .weekDiv{position: relative;width: 108px;height: 108px;float: right;}
#leftDiv .weekDiv #weekImg {margin: 0px auto; width: 108px; text-align: left;display: block; margin-left: 8px;}
#leftDiv .weekDiv #weekImg ul {margin-left:-42px;}
#leftDiv .weekDiv #weekImg li {float:left;list-style-type:none;}
#leftDiv .weekDiv #weekImg img {display: block;width: 45px; height:60px; border: 0px;}

#leftDiv .weekDiv #dateImg {color:#000000;font-family: Arial;font-size:16px;margin-top:75px; }

#leftDiv .cutDiv { width: 218px;height: 184px;border:2px solid #CCC; float: left; }

#leftDiv .cutDiv img{ width: 100%; }

#rightDiv{position: relative;height: 295px;width: 420px;float: right; }

#rightDiv .data1Div{position: relative; float: left; width: 296; height: 240px;margin-left: 18px;margin-top: 10px;}
#rightDiv .data1Div td{font-size:11px;color:#000000;}
#rightDiv .signDiv {position: relative; float: right; width: 106; height: 240px;margin-top: 0px; margin-right: -7px;}
#rightDiv .data2Div{position: relative; width: 410px; height: 35px;margin-left: 18px;}
#middleDiv{position: relative;width: 100%;}


.font12{
	font-size: 12px;
}

.font16{
	font-size: 16px;
}

.fontBold22{
	font-size: 22px;
	font-weight: bold;
}

.fontBold20{
	font-size: 20px;
	font-weight: bold;
}

.fontBold18{
	font-size: 18px;
	font-weight: bold;
}