#dataHolder{
    height: 830px;
    width: 1080px;
    background-color: #e5f1f7;
    display: block;
    font-family: helveticaneue-light;
}

#rk_head{
    height: 180px;
    width: 1080px;
    background-color: #cee4f0;
    margin-top: -16px;
}

#rk_head table{
    background-color: #cee4f0;
    font-family: helveticaneue-light;
    border-collapse: 0px;
    border-spacing: 0px;
    border-bottom-width: 0px;
    vertical-align: middle;
    text-align: center;
}

#rk_head td{
    height: 180px;
    margin-right: 10px;
    color: #358fc1;
}

#rk_head span{
    line-height: 80px;
    font-size: 70px;
    margin-top: 0px;
    margin-left:30px;
    margin-right: -10px;
    /*position: absolute;*/
}

#rk_head img{
    width: 60px;
    margin-top: 8px;
    margin-right: 30px;
    margin-left: -40px;
    position: absolute;
}

#dataDraw{
    margin-left: 0px;
}

#qty1Board{
    margin-left: 50px;
    margin-top: 50px;
}

#qty2Board{
    margin-left: 820px;
    margin-top: -50px;
}

#qty3Board{
    margin-left: 780px;
    margin-top: 460px;
}

#qty4Board{
    margin-left: 400px;
    margin-top: 280px;
    text-align: center;
}

.board{
    width: 300px;
    position: absolute;
    font-size:90px;
}

.board span{
    font-size:60px;
}

#rk_list{
    height: 910px;
    width: 1080px;
    font-family: helveticaneue-light;
    border-collapse: 0px;
    border-spacing: 0px;
}

#rk_list td{
    height: 182px;
}

.title_img{
    width: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    position: absolute;
}

.table_title{
    color: #848888;
    font-size: 50px;
    line-height: 150px;
    text-align: middle;
    margin-left: 100px;
}

.table_state{
}

.table_state div{
    height: 80px;
}

.table_state img{
    height: 80px;
}

.table_qty{
    font-size: 50px;
    text-align: right;
    width: 500px;
}

.table_qty span{
    font-size: 40px;
    margin-right: 30px;
    margin-left: 20px;
    color: #848888;
}

.listContLeft{
    width:350px;
    text-align:right;
}

.listContRight{
    text-align:left;
}

