body{
	/*background: #eee;*/
	/*background: #E0E0E3 url(../images/sidebar.png) repeat;*/
	background-image: url(images/aside-right-shadow.jpg);
	background-repeat: repeat-y;
    background-origin: padding-box;
    /*
	border-right-color: rgb(198, 200, 204);
	border-right-style: solid;
	border-right-width: 1px;
	*/
}

a{
     font-size: 13px;
}
a:visited{
     color: #000;
}

.demo-list {
    position: relative;
    margin: 0;
	float: left;
	text-align: left;
	width:100%;
}

.demo-list h2 {
	font-weight: normal;
	margin-bottom: 0;
}

.demo-list ul {
	width: 100%;
	/*border-top: 1px solid #ccc;*/
	margin: 0;
	padding: 0;
	float: left;
	list-style:none;
}

.demo-list li {
	border-bottom: 1px solid #ccc;
	padding: 0;
	background: #eee;
	width: 99%;
}

.active{
	background: #fff;
	color: #f00;
}


.demo-list a {
	text-decoration: none;
	display: block;
	font-weight: bold;
	font-size: 13px;
	color: #3f3f3f;
	/*text-shadow: 1px 1px #fff;*/
	padding: 4% 2%;
	/*padding-top: 6px;*/
}

.demo-list img {
	width: 13px;
	height: 13px;
	float:left;
}

.info{
	float: left;
	margin-left: 5px;
	margin-top:100px;
	font-size:12px;
	line-height: 25px;
}
.info b{
	font-size:13px;
}

.sub-list {
    clear:both;
    position: relative;
    margin: 0;
	  float: left;
	  text-align: left;
	  width:100%;
}

.sub-list h2 {
	font-weight: normal;
	margin-bottom: 0;
}

.sub-list ul {
	width: 100%;
	/*border-top: 1px solid #ccc;*/
	margin-bottom: 10px;
	padding: 0;
	float: left;
	list-style:none;
}

.sub-list li {
	border-bottom: 1px solid #ccc;
	padding: 0;
	vertical-align: middle;
	width: 100%;
}

.sub-list a {
	text-decoration: none;
	display: block;
	font-weight: normal;
	font-size: 12px;
	color: #3f3f3f;
	text-shadow: none;
	/*padding: 1% 1%;
	padding-top: 6px;*/
}

.sub-list img {
	width: 13px;
	height: 13px;
	float:left;
}

