@charset "UFT-8";
A:link {COLOR: #ff8000; TEXT-DECORATION: none}
A:active {COLOR: #ff8000; TEXT-DECORATION: none}
A:visited {COLOR: #ff8000; TEXT-DECORATION: none}
A:hover {COLOR: #ff8000}
BODY {
	BACKGROUND-POSITION: center 50%;
	SCROLLBAR-FACE-COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	COLOR: #333333;
	SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-ARROW-COLOR: #CC0000;
	SCROLLBAR-TRACK-COLOR: #FFFFFF;
	FONT-FAMILY: "思源黑体";
	SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF;
	border: thin none #000000;
	margin-top: 8px;
	margin-left: 8px;

}
TD {
	FONT-SIZE: 12px;
	LINE-HEIGHT: 15px;
	FONT-FAMILY: "思源黑体";
	border-top: thin none #999999;
	border-right: thin none #999999;
	border-bottom: 1px none #000000;
	border-left: thin none #999999;
}
INPUT.formfield {
	FONT-WEIGHT: normal;
	BACKGROUND: white;
	WIDTH: 150px;
	TEXT-ALIGN: center;
	border: 1px solid #7F9DB9;
	height: 20px;
	}

INPUT.ymd_input{
	BACKGROUND: white url(../../images/ymd_input.gif) no-repeat center center	}
.readlink{COLOR:#000000;FILTER: dropshadow(color=#ffffff,offx=1,offy=1);} 
.read_tdfilter{filter:Alpha(Opacity=100,FinishOpacity=0,style=3)}
.tb{BORDER-BOTTOM: 1px dotted #cccccc;BORDER-top: 0px dotted #000000;BORDER-LEFT:0px dotted #000000;BORDER-RIGHT: 0px dotted #000000;}
