@charset "UTF-8";
A:link {COLOR: #333333; TEXT-DECORATION: underline}
A:active {COLOR: #333333; TEXT-DECORATION: none}
A:visited {COLOR: #333333; TEXT-DECORATION: none}
A:hover {COLOR: #ff8000}
BODY {BACKGROUND-POSITION: center 50%; SCROLLBAR-FACE-COLOR: #FFFFFF; FONT-SIZE: 12px;  SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF; SCROLLBAR-SHADOW-COLOR: #FFFFFF; COLOR: #333333; SCROLLBAR-3DLIGHT-COLOR: #FFFFFF; SCROLLBAR-ARROW-COLOR: #CC0000; SCROLLBAR-TRACK-COLOR: #FFFFFF; FONT-FAMILY: "??ì?"; SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF}
TD {FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: "思源黑体"}
TD.TableBody1 {BACKGROUND-COLOR: #ffffff}
.tableBorder1 {	BORDER-RIGHT: 1px; BORDER-TOP: 1px; BORDER-LEFT: 1px; WIDTH: 97%; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #c5bdc5}
.table {BORDER-RIGHT: #333333 1px solid; BORDER-LEFT: #333333 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff}
INPUT {BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc}
.style6 {font-size: 36px}
.OrderItemTextLeft {
	text-align: left;
	text-indent: 2px;
	border: 0px;
}
.OrderItemTextCenter {
	text-align: center;
	border: 0px;
}
.OrderItemTextRight {
	text-align: right;
	border: 0px;
}
.OrderItemQuantity {
	text-align: right;
	border: 0px;
	color: #009900;
}