@charset "UTF-8";
BODY {
	margin-top: 8px;margin-left: 8px;BACKGROUND-POSITION: center 50%;FONT-FAMILY: "思源黑体";FONT-SIZE: 12px;COLOR: #333333;background-color: #F5F5F5;
	SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF;SCROLLBAR-TRACK-COLOR: #FFFFFF;

	SCROLLBAR-HIGHLIGHT-COLOR: #CC0099;
	SCROLLBAR-SHADOW-COLOR: #CC0099;
	SCROLLBAR-ARROW-COLOR: #CC0099;
	SCROLLBAR-FACE-COLOR: #FF99FF;
	}
.ModelLineColorSet{
    border-left: 0px;border-right: 0px;border-bottom: 0px;
    border-top: 1px solid #CC0099;}
.clWinHead {
	FONT-WEIGHT: normal;FONT-SIZE: 11px;WIDTH: 250px;COLOR: #333333;TOP: 0px;HEIGHT: 14px;
	border: 1px none #CC0099;
	BACKGROUND-COLOR: #FF99FF;
	}
.ButtonH_25{font: 12px 思源雅黑;
  color: #fff!important;
  background-color: #48bbcb;
  border-radius: 2px;
  height: 20px;
  line-height: 20px;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}
.ButtonH_26{font: 12px 思源雅黑;
  color: #fff!important;
  background-color: #006633;
  border-radius: 2px;
  height: 20px;
  line-height: 20px;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}
.ButtonH_27{font: 12px 思源雅黑;
  color: #fff!important;
  background-color: #990000;
  border-radius: 2px;
  height: 20px;
  line-height: 20px;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}
